
@{
    var blogId = ViewBag.blogId;
}

<div class="comment-top">
    <h4>Leave a Comment</h4>
    <div class="comment-bottom">
        <form id="commentForm">
            <input class="form-control" type="text" name="CommentUserName" placeholder="Name" required="">
            <input class="form-control" type="text" name="CommentTitle" placeholder="Title" required="">
            <input class="form-control" type="text" name="CommentContent" placeholder="Subject" required="">

            <button onclick="sendComment()" class="btn btn-primary submit">Submit</button>
        </form>
    </div>
</div>
<script>
    function sendComment() {
        var username = $('[name=CommentUserName]').val();
        var title = $('[name=CommentTitle]').val();
        var content = $('[name=CommentContent]').val();

        if (username == "") {
            alert("Kullanıcı adı boş olamaz.");
            return false;
        }
        if (title == "") {
            alert("Başlık boş olamaz.");
            return false;
        }
        if (content == "") {
            alert("İçerik boş olamaz.");
            return false;
        }

        var model = {
            CommentUserName: username,
            CommentTitle: title,
            CommentContent: content,
            BlogID: '@blogId'
        };
        debugger;
        $.ajax(
            {
                type: "POST",
                url: '/Comment/PartialAddComment',
                data: model,
                async: false,
                success: function (response)
                {
                    if (response.isSuccess) {
                        console.log("girdi2");
                        //window.location.href = response.redirectUrl;
                    }
                    
                },
                error: function (response) {
                    alert("Hata2!");
                }
            }
        );
    }

</script>