
@{
    var blogId = ViewBag.blogId;
}

<div class="comment-top">
    <h4>Bir yorum yaz..</h4>
    <div class="comment-bottom">
        <form id="commentForm">
            <input class="form-control" type="text" name="CommentContent" placeholder="Yorum yaz.." required="">

            <button onclick="sendComment()" class="btn btn-primary submit">Gönder</button>
        </form>
    </div>
</div>
<script>
    function sendComment() {
        var content = $('[name=CommentContent]').val();

        if (content == "") {
            alert("İçerik boş olamaz.");
            return false;
        }

        var model = {
            CommentContent: content,
            BlogID: '@blogId'
        };
        debugger;
        $.ajax(
            {
                type: "POST",
                url: '/Comment/PartialAddComment',
                data: model,
                async: false,
                success: function (response)
                {
                    if (response.isSuccess) {
                        //window.location.href = response.redirectUrl;
                    }
                    
                },
                error: function (response) {
                }
            }
        );
    }

</script>