@{
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Şifre Değişikliği</h4>
            <div class="forms-sample">
                <div class="form-group row">
                    <label for="oldPassword" class="col-sm-3 col-form-label">Eski Şifre</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="oldPassword" placeholder="Eski Şifre">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newPassword" class="col-sm-3 col-form-label">Yeni Şifre</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" name="password" id="newPassword" placeholder="Yeni Şifre">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newPassword2" class="col-sm-3 col-form-label">Yeni Şifre Tekrar</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" name="confirm" id="newPassword2" placeholder="Yeni şifre tekrar">
                        <span id='message'></span>
                    </div>
                </div>
                <button onclick="UpdatePassword()" class="btn btn-gradient-primary mr-2">Güncelle</button>
                <button class="btn btn-light" onclick="CancelButton()">İptal</button>
            </div>
        </div>
    </div>
</div>

<script>
    function CancelButton() {
        window.location.href = "/Dashboard/Dashboard";
    }
    function UpdatePassword() {
        var oldPass = $('#oldPassword').val();
        var newPass = $('#newPassword').val();
        var newPass2 = $('#newPassword2').val();
        if (oldPass == null) {
            alert("Eski şifre boş olamaz");
            return false;
        }
        if (newPass == null) {
            alert("Yeni şifre boş olamaz");
            return false;
        }
        if (newPass != newPass2) {
            alert("Yeni şifre eşleşmiyor.");
            return false;
        }

        swal({
            title: "Emin misiniz?",
            text: "Şifre değişikliği geri alınamaz!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax(
                    {
                        type: "POST",
                        url: '/Dashboard/Password',
                        data: {
                            oldPassword: oldPass,
                            newPassword: newPass
                        },
                        success: function (response) {
                            if (response.isSuccess) {
                                swal("Başarılı! Şifreniz güncellemiştir.!", {
                                    icon: "success",
                                }).then((isOkey) => {
                                    if (isOkey) {
                                        CancelButton();
                                    }
                                });
                            }
                            else {
                                swal(response.message, {
                                    icon: "warning",
                                }).then((isOkey) => {
                                    if (isOkey) {
                                    }
                                });
                            }
                            
                        },
                    }
                );
            } else {
                swal("Your imaginary file is safe!");
            }
        });
    }


    $('#newPassword, #newPassword2').on('keyup', function () {
        console.log("girdi2");
        if ($('#newPassword').val() == $('#newPassword2').val()) {
            $('#message').html('matching').css('color', 'green');
        } else
            $('#message').html('not matching').css('color', 'red');
    });

</script>

