@model EntityLayer.Concrete.Writer
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Profil Bilgileri</h5>
                </div>
                <div>
                    <div class="ibox-content no-padding border-left-right">
                        <img alt="image" class="img-circle" src="~/WriterImageFile/@Model.WriterImage">
                    </div>
                    <div class="ibox-content profile-content">
                        <h4><strong>@Model.Name</strong></h4>
                        <p><i class="fa fa-map-marker"></i> İstanbul/Turkey</p>
                        <h5>
                            About me
                        </h5>
                        <p>
                            @Model.WriterAbout
                        </p>
                        <div class="row m-t-lg">
                            <div class="col-md-6">
                                <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                                <h5><strong>@Model.Blogs.Count</strong> Posts</h5>
                            </div>
                            <div class="col-md-6">
                                <span class="line">5,3,9,6,5,9,7,3,5,2</span>
                                <h5><strong>@Model.Comments.Count</strong> Have Comments</h5>
                            </div>
                        </div>
                        @*<div class="user-button">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> Buy a coffee</button>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>