
<div class="tech-btm">

    <p>Get the latest news of your writers.</p>
    <div >
        <input type="email" placeholder="Email" required="" name="Mail" id="postmailadress">
        <button class="btn btn-gradient-success col-lg-12" onclick="subMail()">Subscribe</button>
    </div>

</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    function subMail() {
        var mail = $('#postmailadress').val();
        if (mail == "") {
            alert("Mail Adress can't be null");
            return false;
        }

       

        $.post(
            '/NewsLetter/SubscribeMail', {
            mailAdress: mail,
        }).done(function (result) {
            Swal.fire({
                icon: 'success',
                title: 'Başarılı!',
                text: 'Abone olduğunuz için teşekkürler.!'
            })
        });
    }
    
</script>